.app-modal {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.app-modal-header {
    flex: none;
    padding: 0.4rem 0.8rem;
    display: flex;
    justify-content: end;
}

.app-modal-content {
    flex: 1 0 0%;
    position: relative;
    padding: 1rem;
}

.app-modal-close {
    cursor: pointer;
}